<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "./WEB-INF/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="all">
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
         <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%5p][%5t][%l] %m%n" />
        </layout>
    </appender>
    <appender name="SystemLogFile"  class="logs.DailySizeRollingFileAppender">
        <param name="File" value="/SDKCollector/YYYY-MM-DD/SDKCollector.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%5p][%5t][%l] %m%n" />
        </layout>
    </appender>

    <logger name="system" additivity="false">
        <level class="org.apache.log4j.Level" value="INFO" />
        <appender-ref ref="SystemLogFile" />
    </logger>

    <logger name="dao" additivity="false">
        <level class="org.apache.log4j.Level" value="INFO" />
        <appender-ref ref="SystemLogFile" />
    </logger>

    <logger name="console" additivity="false">
        <level class="org.apache.log4j.Level" value="INFO" />
        <appender-ref ref="SystemLogFile" />
        <appender-ref ref="ConsoleAppender" />
    </logger>

    <root>
        <priority value="INFO" />
        <appender-ref ref="SystemLogFile" />
    </root>
</log4j:configuration>